

/*navbar styles*/
.bg-dark {
 background:#FF2A1C !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-size: 18px;
 color: white;
}
.nav-link{
  color:#fff !important;
  text-align: center;
}

 .star-top{
   width: 15px;
   margin-left: 5px;
 }

/* scroll image styles*/
 .bgimage {
   width:100%;
   height:500px;
   background: url('images/vote.jpeg');
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   background-attachment: fixed;

   @media (max-width: 768px) {
   background: url('my-mobile-hero-image.jpg') no-repeat center top;
 }
 }

/* default and text styles*/
.headline{
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.headline-container{
width: 100%;
text-align: center;

}

.chapterhead{
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;
}


p{
 text-align:left;
 line-height:180%;
 font-size: 1em;
 font-family: 'PT Serif', serif;
 color: black;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
 font-family: 'Lato', sans-serif;
 font-weight: 700;
 font-size: 7em;
 padding-top: 20px;
 width: 100%;
 line-height: 130%;


}

body{
  font-family: 'PT Serif', serif;
}

.intro-text{
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  max-width: 800px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin:0 auto;
}

a:Link:#FFFFFF ;
a:hover: #0052a5;
a:visited:#FFFFFF;

.graphic-container-h2{
  font-size: 2em;
}

.graphic-container{
padding-top:30px;
padding-bottom:30px;
font-family: 'Lato', sans-serif;
margin:0 auto;
}

h2{
font-family: 'Lato', sans-serif;
font-size: 30px;
text-align: center;
}


em{
  width:100%;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
}

.year{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
}

/*image and caption styles*/
.image{
  height: 500px
  width: 800px;
  width: 800px;
  margin: 0 auto;
}

.hero-image{
  margin-top:25px;
  margin-bottom:25px;
  max-width: 900px;
  width: 100%


}

.star-mid{
  width: 15px;
  margin: 0 auto;

}
.star-chap{
    width: 15px;
}

.stack-image{
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

footer{
  background-color: #FF2A1C;
  height: 100px;
  padding: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
