.headline{
  text-align:center;
  font-family: 'Gothic A1', sans-serif;
  font-size: 60px;
  font-style: bold;
  margin: 15px;
}

.byline{
  text-align:center;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  font-style: italic;
  margin: 10px;
}

.chapterhead{
  text-align:left;
  font-family: 'Gothic A1', sans-serif;
  font-size: 30px;
  font-style: bold;
  margin: 10px;
}
p{
  text-align: left;
  font-family: 'Gothic A1', sans-serif;
  margin: 20px;

}

.image{
  height: 500px
  width: 800px;
  width: 800px;
  margin: 0 auto;
}

.caption{
  text-align:center;
  color: grey;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  margin: 10px;
}

footer{
  background-color: grey;
  color: black;
  text-align: center;

}
